/* Problem 1 Data Table */
.numba1 td {
    border-bottom: 1px solid #bdbdbd;
    }​

.numba1 tr:first-child td{
	border-top-width: 0;
}

.numba1 tr:last-child td{
    border-bottom-width: 0;
}


.numba1 td, th{
	padding: 10px;
}

.numba1 th{
	white-space: nowrap;
	border-bottom: 1px solid #bdbdbd;
}

.numba1 td:first-child, th:first-child {
	padding-right: 40px;
}

.numba1 td:nth-child(2), th:nth-child(2) {
	padding-right: 100px;
}

.numba1 td:nth-child(3), th:nth-child(3) {
	padding-right: 150px;
}

.numba1 td:nth-child(4), th:nth-child(4) {
	padding-right: 200px;
}



/* Problem 2 Stats */

p, h1 {
	font-family: Helvetica;
}

p {
	color: #526f87;
}

.gray {
	color:#bdbdbd;
    font-family: Helvetica;
    font-size: 12px;
    font-weight:400;
    }​

.black tr {
	outline: 3px solid #bdbdbd;
	padding-left: 30px;
	padding-right: 30px;
}

.black td {
	font-size: 35px;
	font-family: Helvetica;
	font-weight: 700;
	text-align: center;
	padding: 15px;
}

.numba2 {
	border: 3px solid #bdbdbd;
}

.borders table {
	border-top: 1px solid #bdbdbd;
	border-bottom: 1px solid #bdbdbd;
}

/* #3 Bar chart*/
.languages td {
	font-family: Helvetica;
	color: white;
	font-size: 12px;
	width: 600px;
	padding: 0px; 
}

.languages th {
	font-family: Helvetica;
	padding: 0px 5px 0px 0px;
	text-align: right;
}

.languages tr {
	padding: 15px;
}

.blue-bars{
	background-color: #49a2eb;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	padding: 4px;
}

.languages table {
	padding: 0px;
	border-collapse: collapse;
}

/* #4 Lightbox */
.pink 	{
	background-color: #e6aabe;
	font-family: Helvetica;
	color: white;
	border-radius: 5px;
	position: relative;
	float: right;
	padding: 10px 30px;
}

.pink a {
	position: relative;
}

.white {
	background-color: white;
	font-family: Helvetica;
	position: relative;
	border-radius: 7px;
	padding: 10px;
	overflow: hidden;
	max-width: 75%;
	float: center;
	display: block;

}

/*.black_overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #6b6a6b;
    opacity: 1; */
}

.middle {
	max-width: 75%;
	position:relative;
	margin: 0 auto;
}

/* #5 Media Block*/
img {
	float: left;
	margin-right: 10px;
}

.cupcake-text{
	color:black;
	font-family: Helvetica;
	font-size: 18px;
}

.instruction-text {
	font-style: Helvetica;
	font-size: 25px;
}

.cupcake-heading {
	font-family: Helvetica;
}

.cupcake-post {
	margin-left: 60px;
}